include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datasci_sharing *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datasci_sharing/migration *.ini *.py *.mako
